<div class="page-header">
  <h1>
    Editing post
    <div class="pull-right">
      <%= link_to 'Show', @post, :class => "btn btn-default" %>
      <%= link_to 'Back', posts_path, :class => "btn btn-default" %>
    </div>
  </h1>
</div>

<%= render 'form' %>
