<div class="page-header">
  <h1>New post</h1>
</div>

<%= render 'form' %>


<div class="form-horizontal">
  <div class="actions">
    <%= link_to 'Back', posts_path, :class => "btn btn-default" %>
  </div>
</div>